@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Concert One", cursive;
}

/*Rem is a relative unit, it is relative to the root element (html) 
font-size. So 1rem = 10px, 2rem = 20px, etc. This makes it easier to scale the entire design by
 changing the font-size of the root element.*/
html {
  font-size: 62.5%;
}
/*The container class is used to center the clock
 on the page. It uses flexbox to align the items
  in the center both horizontally and vertically. 
  The width is set to 100% and the height is set to 100vh (viewport height) to take up the entire screen.*/
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 35rem;
  height: 35rem;
  background-color: #acacac;
  border-radius: 50%;
  border: 0.5rem solid #777;
  box-shadow: 0.5rem 0.5rem 1rem #555, -0.5rem -0.5rem 1rem #555;
  position: relative;
}
/*inherit means that the width and height of the numbers
 class will be the same as the clock class.*/
.numbers {
  width: inherit;
  height: inherit;
  position: relative;
}

.numbers div {
  position: absolute;
  font-size: 2.5rem;
  color: #fff;
  /*The text-shadow property adds a shadow to the text. 
  The first value is the horizontal offset, the second value is the vertical offset, the third value is the blur radius,
   and the fourth value is the color of the shadow.*/
  text-shadow: 0.2rem 0.2rem 0.2rem #222;
}

.twelve {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.three {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.six {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.nine {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.arrows {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*The ::before pseudo-element is used to create a circle in the center of the clock.
The content property is set to an empty string, and the width and height are set to 2.5rem.*/
.arrows::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 0.5rem #777;
  /* z-index place the circle in fornt of the arrows */
  z-index: 10;
}

.arrows div {
  width: 0.7rem;
  height: 12rem;
  background-color: #fff0f5;
  position: absolute;
  bottom: 50%;
  box-shadow: 0.2rem 0.2rem 0.5rem #777;
  border-radius: 100% 100% 0 0;
  transform-origin: bottom center;
}

.arrows .hour {
  height: 10rem;
  transform: rotate(90deg);
}

.arrows .second {
  background-color: #24cfe6;
  transform: rotate(270deg);
}
